body {
    font-family: Georgia, serif;
    height: 100%;
    margin: 0;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 32px;
}

.hero {
    text-shadow: 0 2px #000000;
    font-family: 'Trebuchet MS', 'Helvetica';
}

p {
    color: #ffffff;
    font-size: 60px;
}
