body {
    font-family: Georgia, serif;
    height: 100%;
    margin: 0;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 32px;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #ffffff;
  text-shadow: none;
  background-color: #E8DFE0;
}

.btn.btn-primary:hover {
  color: #000000;
  background-color: #E8DFE0;
}